# Copy this file to .env and fill out the required fields

# -- Required values
# App will not function without these values set

# Secret for signing JSON Web Tokens (JWTs)
# Should be at least 64 characters in length
WHITEBOARD_EDITOR_JWT_SECRET=

# URI to access Mongo database
# Format: mongodb+srv://<USER>:<PASSWORD>@<URL>/<DATABASE>
WHITEBOARD_EDITOR_MONGO_URI=

# URI at which mailserver can access Samba files,
# in the format //<HOSTNAME>/<SHARENAME>
#
# If you are running Samba locally, you will want to set <HOSTNAME> to the
# Docker bridge network IP address, which by convention is 172.17.0.1
WHITEBOARD_EDITOR_MAILSERVER_SAMBA_URI=

# Name of the domain name which directs to this server
WHITEBOARD_EDITOR_DOMAIN=

# -- Default Values
# Feel free to override

# Maximum number of Rest API requests to accept in a 15 minute window.
WHITEBOARD_EDITOR_RATE_LIMIT=100

# Number of seconds before a jwt expires
WHITEBOARD_EDITOR_JWT_EXPIRATION_SECS=600

# Set to 80 in production environment
WHITEBOARD_EDITOR_HTTP_PORT=8080

# Set to 443 in production environment
WHITEBOARD_EDITOR_HTTPS_PORT=4430

# Set to 25 in production environment
WHITEBOARD_EDITOR_MAILSERVER_SMTP_PORT=25

# Set to 465 in production environment
WHITEBOARD_EDITOR_MAILSERVER_SUBMISSIONS_PORT=465

# Set to 587 in production environment
WHITEBOARD_EDITOR_MAILSERVER_SUBMISSION_PORT=587

# Set to 993 in production environment
WHITEBOARD_EDITOR_MAILSERVER_IMAPS_PORT=993

# Number of seconds until a temporary resource expires
WHITEBOARD_EDITOR_TEMP_EXPIRATION_SECS=86400

# For image labelling
WHITEBOARD_EDITOR_CR_URI=whiteboard_editor
WHITEBOARD_EDITOR_TAG=latest
